.Gif{
    border: 1px solid white;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    margin:  16px;
    padding: 32px;
    width: 90%;
    height: 250;
    color: beige;
    text-decoration: none;
}

.Gif h4 {
    margin: 0;
}
a{
    justify-content: center;
    align-items: center;
}

.Gif img {
    object-fit:contain;
    width: 300px;
    display: flex;
    flex-direction: center;
}

i{
    font-size: 70 px;
}