.Gif{
    display: flex;
    flex-direction: column;
    margin:  5px;
    padding: 2px;
    width: 50%;
    height: 250;
    color: beige;
    text-decoration: none;
}

.Gif h4 {
    font-size: 20px;
    margin: 0;
    text-decoration: none;
    position: absolute;
    text-shadow: 0 0 8px black;
    width: 300;
}
a{
    justify-content: center;
    align-items: center;
}

.Gif img {
    object-fit:contain;
    width: 500px;
    display: flex;
    flex-direction: center;
}

i{
    font-size: 70 px;
}